<!doctype html>

<html>

<head>
  <script src="cytoscape/cytoscape.js"></script>
</head>

<style>
  #cy {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
  }
</style>

<body>
  <div id="cy"></div>
  <script>
    var cy = cytoscape({
      container: document.getElementById('cy'),

      layout: {
        name: 'cose',
        padding: 50
      },

      style: cytoscape.stylesheet()
        .selector('node')
        .css({
          'shape': 'data(shape)',
          'width': 'mapData(weight, 0, 100, 0, 100)',
          'content': 'data(name)',
          'text-valign': 'center',
          'background-color': 'data(backGroundColor)',
          'color': '#fff'
        })
        .selector(':selected')
        .css({
          'border-width': 3,
          'border-color': '#333'
        })
        .selector('edge')
        .css({
          'curve-style': 'bezier',
          'opacity': 0.666,
          'width': 'mapData(width, 0, 10, 1, 10)',
          'target-arrow-shape': 'triangle',
          'source-arrow-shape': 'circle',
          'line-color': 'data(color)',
          'source-arrow-color': 'data(color)',
          'target-arrow-color': 'data(color)'
        })
        .selector('edge.questionable')
        .css({
          'line-style': 'dotted',
          'target-arrow-shape': 'diamond'
        })
        .selector('.faded')
        .css({
          'opacity': 0.25,
          'text-opacity': 0
        }),

      elements: <%-JSON.stringify(elements) %>,

      ready: function () {
        window.cy = this;
      }
    });

  </script>
</body>

</html>